<!DOCTYPE html>
<html lang="en-us" class="antialiased font-normal text-gray-700 bg-white">
    <head>
        {% include "head.njk" %}
        <link rel="stylesheet" href="/assets/site.css">
        <script src="/assets/site.js" defer></script>

    </head>
    <body class='bg-color4 lg:bg-color3'>
        <header role="banner" class="p-6">
            <div class="container">
                <a href="/" rel="home" >{{ site.title }}</a>
            </div>
        </header>
        <main>
            {{ content | safe }}
            <p class='font-text text-color1 lg:text-color4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae porta justo. Aliquam et lorem ornare mauris rhoncus egestas. Nullam pellentesque metus augue, quis pretium lorem vehicula quis. Quisque eget ligula eget ipsum pellentesque interdum dapibus sit amet nibh. Nullam ullamcorper iaculis odio, ut varius turpis eleifend eget. Sed tincidunt ligula ac libero aliquet, vel finibus lacus aliquet. Nulla facilisi. Sed fermentum neque quam, ut tempus mi dictum non. Nunc porta orci eu metus fringilla, condimentum malesuada enim pulvinar. Etiam volutpat arcu quis tincidunt vehicula.</p>
        </main>
        <footer role="contentinfo">

        </footer>
    </body>
</html>
